<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sistema de Cadastros - Fatec Franca</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: table;
      transition: opacity 0.3s ease;
    }

    .modal-wrapper {
      display: table-cell;
      vertical-align: middle;
    }
  </style>
</head>

<body>
  <div class="container" id="crudApp">
    <br />
    <h3 align="center">
      <img src="https://site.fatecfranca.edu.br/images/logo-fatec-franca-15-anos.png" width=50% height=50%
        alt="logo fatec"><br /><br />
      <strong>Cadastro de Alunos</strong>
    </h3>
    <br />
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <h3 class="panel-title">Alunos</h3>
          </div>
          <div class="col-md-6" align="right">
            <input type="button" class="btn btn-success btn-xs" @click="openModel" value="Add" />
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <tr>
              <th>Nome</th>
              <th>Adress</th>
              <th>Couse</th>
              <th>Wage</th>
              <th>Editar</th>
              <th>Deletar</th>
            </tr>
            <tr v-for="row in allData">
              <td>{{ row.first_name }}</td>
              <td>{{ row.adress }}</td>
              <td>{{ row.course }}</td>
              <td>{{ row.wage }}</td>
              <td>
                <button type="button" name="edit" class="btn btn-primary btn-xs edit" @click="fetchData(row.id)">
                  Editar
                </button>
              </td>
              <td>
                <button type="button" name="delete" class="btn btn-danger btn-xs delete" @click="deleteData(row.id)">
                  Deletar
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div v-if="myModel">
      <transition name="model">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" @click="myModel=false">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title">{{ dynamicTitle }}</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" v-model="first_name" />
                  </div>
                  <div class="form-group">
                    <label>Endereço</label>
                    <input type="text" class="form-control" v-model="adress" />
                  </div>
                  <div class="form-group">
                    <label>Curso</label>
                    <input type="text" class="form-control" v-model="course" />
                  </div>
                  <div class="form-group">
                    <label>Salario</label>
                    <input type="text" class="form-control" v-model="wage" />
                  </div>
                  <br />
                  <div align="center">
                    <input type="hidden" v-model="hiddenId" />
                    <input type="button" class="btn btn-success btn-xs" v-model="actionButton" @click="submitData" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</body>

</html>

<script>
  var application = new Vue({
    el: "#crudApp",
    data: {
      allData: "",
      myModel: false,
      actionButton: "Insert",
      dynamicTitle: "Adicionar Aluno",
    },
    methods: {
      fetchAllData: function () {
        axios
          .post("cadastro_prof.php", {
            action: "fetchall",
          })
          .then(function (response) {
            application.allData = response.data;
          });
      },
      // COLOCAR OS V-MODELS DAS LABELS
      openModel: function () {
        application.first_name = "";
        application.adress = "";
        application.course = "";
        application.wage = "";
        application.actionButton = "Insert";
        application.dynamicTitle = "Adicionar Professor";
        application.myModel = true;
      },
      submitData: function () {
        if (application.first_name != "" && application.adress != "" && application.course != "" && application.wage != "") {
          if (application.actionButton == "Insert") {
            axios
              .post("cadastro_prof.php", {
                action: "insert",
                // OS PRIMEIROS NOMES SÃO INSERIDOS NO PHP, ENQUANTO O APPLICATION.ALGO DEVE CITAR OS V-MODELS
                firstName: application.first_name,
                adressProf: application.adress,
                courseProf: application.course,
                wageProf: application.wage,
              })
              .then(function (response) {
                application.myModel = false;
                application.fetchAllData();
                application.first_name = "";
                application.adress = "";
                application.course = "";
                application.wage = "";
                alert(response.data.message);
              });
          }
          if (application.actionButton == "Update") {
            axios
              .post("cadastro_prof.php", {
                action: "update",
                // OS PRIMEIROS NOMES SÃO INSERIDOS NO PHP, ENQUANTO O APPLICATION.ALGO DEVE CITAR OS V-MODELS
                firstName: application.first_name,
                adressProf: application.adress,
                courseProf: application.course,
                wageProf: application.wage,
                hiddenId: application.hiddenId,
              })
              .then(function (response) {
                application.myModel = false;
                application.fetchAllData();
                application.first_name = "";
                application.adress = "";
                application.course = "";
                application.wage = "";
                application.hiddenId = "";
                alert(response.data.message);
              });
          }
        } else {
          alert("Complete todos os dados!!!");
        }
      },
      fetchData: function (id) {
        axios
          .post("cadastro_prof.php", {
            action: "fetchSingle",
            id: id,
          })
          .then(function (response) {
            application.first_name = response.data.first_name;
            application.adress = response.data.adress;
            application.course = response.data.course;
            application.wage = response.data.wage;
            application.hiddenId = response.data.id;
            application.myModel = true;
            application.actionButton = "Update";
            application.dynamicTitle = "Edit Data";
          });
      },
      deleteData: function (id) {
        if (confirm("Você tem certeza que deseja deletar esse aluno?")) {
          axios
            .post("cadastro_prof.php", {
              action: "delete",
              id: id,
            })
            .then(function (response) {
              application.fetchAllData();
              alert(response.data.message);
            });
        }
      },
    },
    created: function () {
      this.fetchAllData();
    },
  });
</script>